body {
  position: relative;
  background-color: #C99F76;

}
#container{
    background-image: url(../Images/background.jpg);
    background-color: aliceblue;
    height: 1000px;
    position:fixed;
    max-width: 1500px;
    text-align: center;
    margin-left: 210px;
    padding-top: 5px;
    font-size: 40px;
    overflow: scroll;
}

#menu{
    float: right;
    height: 50px;
    background:transparent;
    font-size: 25px;
    padding: 5px 0;}
ul{
    list-style:none;
}
#menu ul li{
    float: left;
    padding: 0 5px;
}
#menu ul li a{
    text-decoration: none;
    border-right: 1px solid;
}

/* #about-me-container{
    display: flex;
    height: 100px;
    width: 1300px ; */
}