body {
display: flex;
  position: relative;
  background-color: #C99F76;
  margin: 0;
  padding: 0;
  justify-content: center;
}
/* set all styling to box-model styling */
*{box-sizing: border-box;}

.container{
    /* display: flex; */
    background-image: url(../Images/background.jpg);
    background-size: cover;
    background-color: aliceblue;
    height: 100%;
    position:fixed;
    width: 85%;
    text-align: center;
    flex-direction:column;
    /* margin-left: 210px; */
    /* padding-top: 5px; */
    font-size: 40px;
    overflow: scroll;
    justify-content: center;
}
.about-me-container{
flex:auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 360px;
    width: 85%;
}

img {
    float: left;
    width: 550px;
    height: 340px;
  }


.text{
    text-align: justify;
}
#about {
    height: 30%
    float: 50%;
}

#about-me-image{ 
    width: "60%"}

#menu{
    float: right;
    height: 50px;
    background:transparent;
    font-size: 25px;
    padding: 5px 0;}
ul{
    list-style:none;
}
#menu ul li{
    float: left;
    padding: 0 5px;
}
#menu a{
    text-decoration: none;
    border-right: 1px solid;
}

